@charset "UTF-8";

body {
    font-family: 'Helvetica Neue', Helvetica, 'Open Type', Arial, sans-serif;
    font-size: 14px;
    color: #3B414D; /* body font color */
    line-height: 24px;
    background-image: url(clean.jpg);
    background-repeat: repeat;
    background-size: cover;
}


.hr {
	margin: 10px auto;
	padding: 0;
	width: 80%;
	height: 1px;
	background-color: #ededed;
}

h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

h2, h3 {
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}

.all {
    width: 1000px;
    margin: 60px auto;
}

.copy {
	font-size: 9px;
	color: #c2c2c2;
	background-color: #ffffff;
	position: fixed;
	bottom: 0;
	right: 80px;
	width: 100px;
	height: 16px;
	alignment-baseline: bottom;
	line-height: 0px;
	padding-bottom: 2px;
	-webkit-border-radius: 3px 3px 0px 0px;
}

.copy p {
	text-align: center;
}

.copy a {
	text-decoration: none;
	font-style: none;
	color: #a0a0a0;
}

.copy a:hover {
	color: #949494;
}

.all a {
	font-style: none;
	color: #1874cd; /* prev #6060AF and #246EE9 */
	text-decoration: none;
    position: absolute;


	/* EFFECT */
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.all a:hover {
	text-decoration: none;
    transform: translateX(-10px);
	-webkit-transform: translateX(-10px);
  color: #104e8b; /*color on overlay */

}

.column-1 {
	width: 140px;
	float: left;
}

.column-2 {
	width: 140px;
	float: left;
	margin-left: 30px;
	/* border-right: 1px solid #ededed; */
}

.column-2 h2 {
	visibility: hidden;
}

.column-3 {
  width: 140px;
	float: left;
	margin-left: 30px;
}

.column-4 {
  width: 140px;
	float: left;
	margin-left: 30px;
}

.column-5 {
  width: 140px;
	float: left;
  margin-left: 30px;
}

.column-6 {
  width: 140px;
	float: right;
}

/*	FADE IN DOWN (Startup Animation)

	COPYRIGHT (c) Daniel Eden (@daneden)
	http://daneden.github.io/animate.css/
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
